<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".shp" />
      <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
      <remove fileExtension=".dbf" />
      <mimeMap fileExtension=".dbf" mimeType="application/octet-stream" />
      <remove fileExtension=".itf" />
      <mimeMap fileExtension=".itf" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
</configuration>