<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--  -->
  </system.web>
  <connectionStrings>
    <add name="AutosalesContext" connectionString="metadata=res://*/Models.AutosalesModel.csdl|res://*/Models.AutosalesModel.ssdl|res://*/Models.AutosalesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\igAutoDealership.mdf;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>/>
  </connectionStrings>
</configuration>